*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: arial;
    background-color: white;
    color: black;
}
body header h1 {
                text-align: center;
}
section h1{
    text-align: center;
}

.hello a{
    text-decoration: none;
    color: black;
}
.hello{
    display: grid;
    gap: 10px;
}
.menu-items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 20px;
}
.menu-card{
    text-align: center;
    background: white;
    padding: 10px;
    border-radius: 10px;

}
.menu-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.menu-card h3{
     margin: 10px  5px;
}
.price{
    color: red;
    border: 1px solid black;
    padding: 4px ;
   display: inline-block;
   border-radius: 10px;
   background-color: aquamarine;
   cursor: pointer;

}